h1.title-page {
  text-align: center;
  color: var(--dark-color);
  padding-block: 2rem;
}

.container-semua-hadir {
  width: 80%;
  margin: auto;
}

.semua_hadir {
  padding: 0.3rem 0.5rem;
  margin-block: 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary-color);
}

.container-form {
  width: 80%;
  margin: auto;
}

.container-form table {
  width: 100%;
}

th,
td {
  padding: 0.3rem 0.4rem;
  text-align: center;
}

td.no {
  width: 10%;
}

td.nama,
td.nis {
  width: 20%;
}
td.absen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button.submit {
  margin-block: 2rem;
  padding: 0.4rem;
  background-color: var(--primary-color);
  outline: none;
  border-radius: 0.5rem;
}
