h1.title-data {
  color: var(--dark-color);
  text-align: center;
  padding-top: 2rem;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  flex-direction: column;
}

form input {
  width: 75%;
  outline: none;
  border: 2px solid var(--dark-color);
  border-radius: 2rem;
  padding: 0.7rem 0.3rem;
  margin-bottom: 1rem;
  text-indent: 2rem;
  font-weight: 700;
  background: transparent;
  color: var(--dark-color);
}

form input::placeholder {
  color: var(--dark-color);
  text-indent: 2rem;
  font-weight: 700;
}

form button.submit {
  font-weight: 700;
  outline: none;
  border: 2px solid var(--dark-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background: transparent;
  transition: 0.3s;
}

form button.submit:hover {
  background-color: var(--dark-color);
  border: 2px solid var(--primary-color);
  color: var(--light-color);
}

.container-data {
  display: grid;
  width: 90%;
  height: 30rem;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.laki-laki {
  background-color: var(--primary-color);
}

.perempuan {
  background-color: pink;
}

.container-data .item {
  border: 2px solid black;
  height: 23rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  overflow: hidden;
}

.item .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item .buttons a:first-child {
  background-color: yellowgreen;
  width: 50%;
  text-align: center;
}

.item .buttons a:nth-child(2) {
  width: 50%;
  text-align: center;
  background-color: red;
}

.item img {
  width: 70%;
  border-radius: 0.5rem;
  height: 65%;
}

.item .text {
  display: flex;
  flex-direction: column;
}

.item .text .nama {
  font-size: 1.2rem;
  color: var(--dark-color);
  font-family: var(--poppins);
  text-align: center;
}

.item .text .kelas {
  text-align: center;
}

.item .showDetails {
  margin-inline: 2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--dark-color);
  background: var(--light-color);
  transition: 0.2s;
}

.item .showDetails:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: 2px solid var(--light-color);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  height: 50%;
  width: 50%;
  background-color: var(--light-color);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

.popup .close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.popup .close-button:hover {
  color: red;
}

.popup table {
  margin-right: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.popup img {
  height: 100%;
  width: 40%;
}

th {
  text-align: left;
  padding: 0.5rem;
}
